<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/navbar') %>

    <h1>這個是首頁 版本：10:55</h1>
    <p>Lorem ipsum dolor sit consectetur adipisicing elit. Sequi veniam, cupiditate eveniet error deserunt quas, mollitia, repellat officiis debitis modi id dolorem porro excepturi facere delectus! In suscipit libero vitae.</p>
    
    <%- include('./layout/footer') %>

    <!-- 這行不要動他，因為這行是 Vite Dev 模式的核心 -->
    <script type="module" src="../main.js"></script>
  </body>
</html>
